[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

nose = "*"
mock = "*"
placebo = "*"
zappa = {path = ".", editable = true}
flask = "*"
coverage = "*"
nose-timer = "*"


[scripts]

"tests" = "bash ./test.sh"
