base58==0.2.3
botocore==1.4.62
boto3==1.4.1
docutils==0.12
futures==3.0.5
hjson==2.0.2
jmespath==0.9.0
kappa==0.6.0
lambda-packages==0.10.0
python-dateutil==2.5.3
python-slugify==1.2.1
requests>=2.10.0
six==1.10.0
tqdm==4.8.4
troposphere==1.8.2
Werkzeug==0.11.11
wheel==0.29.0
wsgi-request-logger==0.4.6
