base58==0.2.3
boto3==1.3.1
botocore==1.4.36
docutils==0.12
futures==3.0.5
hjson==1.5.6
jmespath==0.9.0
lambda-packages==0.5.0
python-dateutil==2.5.3
python-slugify==1.2.0
requests[security]>=2.10.0
six==1.10.0
tqdm==4.7.6
Werkzeug==0.11.10
wheel==0.29.0
wsgi-request-logger==0.4.5
