argcomplete
boto3
durationpy
future
hjson
jmespath
kappa==0.6.0
lambda-packages>=0.20.0
pip>=9.0.1
python-dateutil<2.7.0
python-slugify
PyYAML
# previous version don't work with urllib3 1.24
requests>=2.20.0
six
toml
tqdm
troposphere
Werkzeug
wheel
wsgi-request-logger
pip-tools