base58==0.2.2
boto3==1.3.0
botocore==1.4.10
docutils==0.12
docopt>=0.6.1
futures==3.0.5
jmespath==0.9.0
lambda-packages==0.4.0
python-dateutil==2.5.2
requests>=2.9.1
six==1.10.0
tqdm==4.4.0
Werkzeug==0.11.5
wheel==0.29.0
wsgi-request-logger==0.4.5
